<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<p>Your question was: <%= @question %></p>
<p>This is your coach's answer:</p>
<%= @answer %>
<div>
<%= link_to "Ask another question", ask_path %>
</div>
